:root {
  /* Font Colors */
  --white: #fff;
  --light-mid-grey: #a5a5a5;
  --dark-mid-grey: #9ca3af;
  --dark-grey: #787878;
  --very-dark-grey: #2e2e2f;
}

/* Josh Comeau CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img,
svg {
  display: block;
  max-width: 100%;
}
input,
button {
  font: inherit;
}

/* Typography */
body {
  font-family: "Inter", sans-serif;
}
header > h1 {
  font-weight: 800;
  font-size: 2.675rem;
  color: var(--white);
}
button.watchlist-btn {
  color: var(--white);
  font-weight: 700;
  font-size: 0.875rem;
}
.intro-text {
  font-size: 1.125rem;
  color: var(--very-dark-grey);
}
.search-btn {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--white);
  line-height: 20px;
}
input {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--light-mid-grey);
  letter-spacing: 0.0156em;
  line-height: 20px;
}
.movie-title {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--white);
}
.movie-rating,
.movie-time {
  color: var(--white);
  font-size: 0.75rem;
  white-space: nowrap;
}
.movie-genre {
  color: var(--white);
  font-size: 0.75rem;
}
.plot-holder > p {
  font-size: 0.875rem;
  color: var(--light-mid-grey);
  font-weight: 400;
  line-height: 20px;
}
/* Layout & Related Styling */
.vertical-height {
  height: calc(100vh - 12.5em);
}
html {
  height: 100%;
}
body {
  background-color: #1c1c1c;
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  background-image: url("/images/office-movie-posters-img.png");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(15, 10, 10, 0.7);
  height: 200px;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}
.film-icon {
  width: 70px;
  margin-bottom: 0.75em;
  align-self: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.intro-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.hidden {
  display: none;
}
#movies-holder {
  display: flex;
  max-width: 550px;
  width: 100%;
  flex-direction: column;
  margin-top: 2em;
}
.movie-card-holder {
  display: flex;
  padding-bottom: 1.537em;
  border-bottom: 1px solid #2c2c2c;
  width: 100%;
}
img {
  padding-top: 1.625em;
  display: block;
  align-self: start;
}
.movie-poster {
  width: 6.188em;
  margin-right: 1.313em;
}
.movie-content-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.movie-and-rating-holder {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}
.movie-rating {
  margin-left: 0.5em;
}
.star-emoji {
  margin-right: 0.75em;
}
.time-and-genre-holder {
  display: flex;
  margin-top: 0.75em;
  flex-direction: column;
}
.time-and-genre-container {
  display: flex;
  flex-direction: row;
}
.movie-time {
  margin-right: 1.125em;
}
.plot-holder {
  margin-top: 0.625em;
}
/* Input, buttons, etc.. */
.watchlist-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}
.add-to-watchlist-btn {
  background: none;
  border: none;
  color: var(--white);
  background-image: url(./images/add-to-watchlist-icon.svg);
  background-repeat: no-repeat;
  background-position: left 0 top 1px;
  background-size: 16px;
  padding-left: 1.75em;
  font-size: 0.75rem;
  cursor: pointer;
  margin-top: 1em;
}
.add-to-watchlist-btn:hover {
  color: #ffe209;
  background-image: url(./images/add-to-watchlist-icon-hvr.svg);
}
.search-form {
  position: absolute;
  bottom: -1.125em;
  display: flex;
  width: 85%;
  max-width: 462px;
}
.search-field {
  background-color: var(--very-dark-grey);
  border: none;
  padding: 0.563em 0.813em 0.563em 2.75em;
  border-radius: 6px 0 0 6px;
  width: 100%;
  background-image: url("./images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 0.813em top 50%;
}
.search-btn {
  background-color: #4b4b4b;
  border: none;
  border-radius: 0 6px 6px 0;
  padding: 0.563em 0.688em 0.563em 1.063em;
  cursor: pointer;
  width: 120px;
}
input:focus {
  outline: none;
}
@media (min-width: 700px) {
  .time-and-genre-holder {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .time-and-genre-container {
    margin-top: 0.063em;
  }
  .movie-genre {
    white-space: nowrap;
    margin-right: 1.75em;
  }
  .add-to-watchlist-btn {
    margin-top: 0;
  }
}
